<div class="container-fluid">
    <div class="row">


        <nav class="col-md-3 col-lg-2 bg-light sidebar">

            <li class="nav-item">
                <a class="nav-link navLegall" asp-area="" asp-controller="Tarefas" asp-action="Index">Tarefas por Fazer</a>
            </li>

            </ul>
        </nav>


        <main role="main" class="col-md-8 ml-sm-auto col-lg-09 content">

            <div class="row justify-content-center">
                <h2 id="todolist">Lista de Tarefas</h2>

                <p>
                    <div class="col-md-6">

                        @foreach (var tarefa in Model)
                        {
                            <div class="card mb-4">
                                <div class="card-body" style="box-shadow: 4px 2px 4px 2px rgba(200, 200, 200, 0.5);">

                                    <h5 class="card-title" style="margin-top:2%">@tarefa.NomeTarefa</h5>

                                    <p class="card-text">@tarefa.descricao</p>
                                    <p class="card-text">@tarefa.dataConclusão</p>

                                    <img id="Imagem-Progresso" src="~/double-check.png" alt="Minha Imagem" style="width: 42px; position: static; top: -6%; right:89% ;">


                                    <a href="@Url.Action("Edit", new { id = tarefa.TarefasId }) ">
                                        <img class="editar-icon" src="~/editar-texto.png" alt="Deletar" style="width: 12px; position: absolute; top: 4px; right:25px;">

                                    </a>
                                    <a href="@Url.Action("Delete", new { id = tarefa.TarefasId })">
                                        <img class="editar-icon" src="~/x.png" alt="Deletar" style="width: 12px; position: absolute; top: 4px; right:4px;">
                                    </a>

                                </div>
                            </div>
                        }
                    </div>
            </div>
        </main>



    </div>
</div>
</div>

